[Desktop Entry]
Name=Composite

Comment=Live performance sequencer

Encoding=UTF-8
Version=0.005

Type=Application
Categories=Application;AudioVideo;Sound;Audio;Qt;

MimeType=text/xml

FilePattern=composite-gui
Exec=composite-gui %F
TryExec=composite-gui
Terminal=false
StartupNotify=true

Icon=@ac_prefix@/share/composite/data/img/gray/icon64.png
